/* General Elements*/
body {
	background-color: purple;
	font-family: 'Comic Sans MS', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 25px;
}

div {
	background-color: white;
	margin: 10px;
	width: 25%
}

div {
	border: solid 2px antiquewhite;
	padding: 10px;
}

h1,
h3,
span {
	font-weight: bold;
	text-align: center;
}

h1 {
	font-size: 75px;
}

ol {
	list-style: decimal inside;
}

ul {
	list-style: disc inside;
	text-indent: 20px;
}

/* Specfic Elements*/
div.header,
div.gems {
	background-color: #e0e0eb;
}

div.header,
div.instructions {
	width: 100%;
}

/* Classes */
.numberToMatch,
.winsAndLosses {
	float: left;
	width: 47%;
	height: 80px;
    font-size: 40px;
}

.userTotal {
    width: 50%;
    height: 58px;
    font-size: 46px;
}

.gems {
	clear: both;
	width: 100%;
}

.gemImage {
	height: 200px;
	width: 200px;
	margin-left: 120px;
	margin-right: 120px;
}

/* IDs */
#diamond-crystal {
	color: #3092c7;
}

#hexagon-crystal {
	color: #00aa59;
}

#octagon-crystal {
	color: #ec4b5f;
}

#square-crystal {
	color: #ffc225;
}